{% extends "base.html" %}

{% set colors = {"GREEN": "#00b400"} %}

{% macro render_cube_side(side, face_suffix) %}
<div class="cube__face cube__face--{{ face_suffix }}">
    <table>
        {% for row in side %}
        <tr>
            {% for cell in row %}
            <td bgcolor={{ colors.get(cell.name) or cell.name }}></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endmacro %}

{% macro render_cube(sides) %}
    <div class="scene">
        <div class="cube">
            {% for name in ["top", "front", "right", "bottom", "back", "left"] %}
            {{ render_cube_side(sides[loop.index - 1], name) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% block script %}
    <script src={{ url_for("static", filename="script.js") }}></script>
    <noscript>Sorry!</noscript>
{% endblock %}

{% block body %}
    {{ render_cube(cube.get_sides()) }}
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.sequence.label }}
            {{ form.sequence }}
            {% for error in form.sequence.errors %}
            {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form.rotate.label }}
            {{ form.rotate }}
        </p>
        <p>
            {{ form.apply }}
        </p>
    </form>
{% endblock %}
