{% extends "base.html" %}

{% from "macros.html" import render_cube %}

{% block script %}
    {% if cube|is_solved %}
        <script src={{ url_for("static", filename="script.js") }} type="text/javascript" defer></script>
        <noscript>Congratulations!</noscript>
    {% endif %}
{% endblock %}

{% block content %}
    {{ render_cube(cube.get_sides()) }}
    <form class="centered" action="" method="post" autocomplete="off">
        {{ form.csrf_token }}
        <p class="centered">
            {{ form.sequence.label }}
            {{ form.sequence }}<br>
        </p>
        <p class="centered">
            {{ form.rotate.label }}
            {{ form.rotate }}
        </p>
        <p class="centered">
            <button name="quit" form="quit">Quit</button>
            {{ form.apply }}
        </p>
    </form>
    <form id="quit" action="/index.html" method="post"></form>
    {{ super() }}
{% endblock %}

{% block messages %}
    <p>
        <small style="color:{{ 'red' if form.sequence.errors else 'auto' }}">
            {{ super() }}
            {% if form.sequence.errors %}
            {{ ", ".join(form.sequence.errors) }}
            {% endif %}
        </small>
    </p>
{% endblock %}
