{% extends "base.html" %}

{% block body %}
    <form class="centered" action="" method="post" autocomplete="off">
        {{ form.csrf_token }}
        <p class="centered">
            {{ form.seed.label }}
            {{ form.seed }}
            {% for error in form.seed.errors %}
            {{ error }}
            {% endfor %}
        </p>
        <p class="centered">
            {{ form.size.label }}
            {{ form.size }}
        </p>
        <p class="centered">
            {{ form.start }}
        </p>
    </form>
{% endblock %}