{% extends "base.html" %}

{% block content %}
    <form action="" method="post" autocomplete="off">
        {{ form.csrf_token }}
        <p class="centered">
            {{ form.seed.label }}
            {{ form.seed }}
        </p>
        <p class="centered">
            {{ form.size.label }}
            {{ form.size }}
        </p>
        <p class="centered">
            {{ form.start }}
        </p>
    </form>
    {{ super() }}
{% endblock %}

{% block messages %}
    <p>
        <small style="color:red">
            {% if form.seed.errors %}
                {{ ", ".join(form.seed.errors) }}
            {% endif %}
        </small>
    </p>
{% endblock %}
