{% set colors = {"GREEN": "#00b400"} %}

{% macro render_cube_side(side, face_suffix) %}
<div class="cube__face cube__face--{{ face_suffix }}">
    <table cellspacing={{ 40 / (side|length + 1) }}>
    {% for row in side %}
    <tr>
        {% for cell in row %}
        <td bgcolor={{ colors.get(cell.name) or cell.name }}></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endmacro %}

{% macro render_cube(sides) %}
<div class="scene">
    <div class="cube">
        {% for name in ["top", "front", "right", "bottom", "back", "left"] %}
        {{ render_cube_side(sides[loop.index - 1], name) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}
